@page
@model testapp.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}
<h2>Your restaurant was not found</h2>
<a asp-page="./List" class="btn btn-outline-primary">See all Restaurants</a>
